[submodule "themes/hugrid"]
	path = themes/hugrid
	url = https://github.com/aerohub/hugrid.git
[submodule "themes/hugo-researcher"]
	path = themes/hugo-researcher
	url = https://github.com/ojroques/hugo-researcher.git
